a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
  color:green;
}
a:visited{
  text-decoration: underline;
  color:white;
}

body{
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
}

#img{
  border-radius:50%;
  width: 200px;
  height: 200px;
}

.menu{
  position: fixed;
  position: static;
  text-align: center;
  background-color: #5D909B !important;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000000 !important;

}
#navbar{
  text-align: center;
  background-color: #5D909B !important;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000000 !important;
  position: sticky;


}

.jumbotron{
  text-align: center;
  color:white;
  background-color: #6aa84f !important;
  text-align: center;
  align-items: center;
}

#registroHome{
  align-items: center;
}

.sectionStyle2{
  font-style: solid;
  text-align: justify;
  background-color: #FFFFFF;
  align-items: center;
  font-size:150%;
  text-align: center;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 80px;
  width: 300px;
  height: 420px;
}

.sectionStyle3{
  text-align: justify;
  background-color: #FFFFFF;
  margin: 50px;
  padding-top: 30px;
  margin-top: 80px;
}

.sectionStyle4{
  text-align: justify;
  background-color: #CAE9BD;
  position: relative;
  align-items: center;
  padding: 50px;
}

.sectionStyle5{
  text-align: center;
  background-color: #FFFFFF;
  position: relative;
  align-items: center;
  height: 850px;
  padding-top: 10px;
}

#terapia{
  height: 425px;
  width: 500px;
  margin: 10px;
  text-align: center;
  font-size: 150%;
}

.Contacto{
  text-align: justify;
  height: 350px;
  width: auto;
  background-color: #A2AC87;
  align-items: center;
  color: #FFFFFF;
}

#contactInfo{
  width: 400px;
  height: 300px;
  float: left;
  align-items: center;
  padding-left: 250px;
  padding-top: 100px;
}

#contactForm{
  float: right;
  width: 400px;
  float: right;
  padding-right: 100px;
  padding-top: 20px;
}

.clear-float{
  clear:both;
}
